*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  --kennelGrid_box-height: 2rem;
  --kennelGrid_box-width: 8rem;
}


.daysOverview_container{
  display: flex;
  margin: 3rem 1rem;
}
.daysOverview_column{
  margin-right: 5vw;
}


.kennelGrid_labelCell,
.kennelGrid_cell{
  background-color: grey;
  margin: 5px 0;
  padding: 4px;
  text-align: center;
}
.kennelGrid_cell,
.kennelGrid_height{
  height: var(--kennelGrid_box-height);
}
.kennelGrid_cell,
.kennelGrid_width{
  width: var(--kennelGrid_box-width);
}

.kennelGrid_labelCell {
  text-align: left;
}


.kennelLabelsColumn_container{

}
.kennelLabelsColumn_label{
  /* height: var(--kennelGrid_box-height); */
  margin-right: 3vw;
}

